* {
    background-color: white;
}


.top {

}

.header-mobile {
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 770px) {
.header-mobile {
    display: none;
}
}


.encabezado {
    border: 2px solid red;
    margin: 0;
    display: flex;
}


.home {
    border: 2px solid;
    display: flex;
}

.herram-nav {
    display: none;
}
@media (min-width: 769px) {
.herram-nav {
    margin-left: 40%;
    padding: 8px;
    border: 2px solid rgb(219, 219, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
}


.info {
    border: 2px solid yellowgreen;
    margin: 0 7px;
    
}

.button-info:hover { border-bottom: 3px solid black;
 }
.button-info {
    border: 2px solid red;
    font-size: medium;
    padding-bottom: 0;
}
.empresa {
    border: 2px solid yellowgreen;
    margin: 0 7px;
}
.button-empresa:hover { border-bottom: 3px solid black;
}
.button-empresa {
    border: 2px solid red;
    font-size: medium;
    padding-bottom: 0;
}
.blog {
    border: 2px solid yellowgreen;
    margin: 0 7px;
}
.button-blog:hover  { border-bottom: 3px solid black;
}
.button-blog {
    border: 2px solid red;
    font-size: medium;
    padding-bottom: 0;
}

.ingreso {
    display: none;
}
@media (min-width: 769px) {
.ingreso {
    border: 2px solid rgb(27, 113, 27);
    margin-left: 53px;
    
    display: flex;
    align-items: center;
    }
}

.sesion {
    border: 2px solid yellowgreen;
    margin-right: 20px;
}
.button-sesion:hover { background-color: #ad081b;
}
.button-sesion {
    border: 2px solid red;
    background-color: #e60023;
    color: white;
    font-weight: bold;
    width: 115px;
    height: 40px;
    border-radius: 25px;
}
.registro {
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: flex-end;
}
.button-registro:hover { background-color: #878787;}
.button-registro {
    border: 2px solid rgb(241, 241, 241);
    background-color: rgb(241, 241, 241);
    font-weight: bold;
    width: 115px;
    height: 40px;
    border-radius: 25px;
}



.cuerpo {
    border: 2px solid blue;
}
.renglon1 {
    border: 2px solid black;
    margin-top: 13%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
}
.renglon2 {
    border: 2px solid red;
    color: #0076d3;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}
.box-text {
    margin: 0;
}



.imagenes {
    border: 2px solid green;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(0deg, #fffdfd 0%, transparent 100%)
}


.img1 {
    border: 1px solid ;
    width: 20%;
    margin-top: -25px;
}
.at1 {
    width: 90%;
    padding-left: 7%;
    padding-right: 3%;
    border-radius: 5%;
}

.img2 {
    border: 1px solid ;
    width: 20%;
    margin-top: 70px;
}
.at2 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding: 0 5%;
}

.img3 {
    border: 1px solid ;
    width: 20%;
    margin-top: 115px;
}
.at3 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding: 0 5%;
}

.img4 {
    border: 1px solid ;
    width: 20%;
    margin-top: 70px;
}
.at4 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding: 0 5%;
}

.img5 {
    border: 1px solid ;
    width: 20%;
    margin-top: -25px;
}
.at5 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding-right: 7%;
    padding-left: 3%;
}

/* border:none */







.search {
    background-color: #fffd92;
}