* {
    background-color: white;
}

.encabezado {
    border: 2px solid red;
    margin: 0;
    display: flex;
}

.home {
    border: 2px solid;
    display: flex;

}


.herram-nav {
    margin-left: 50%;
    padding: 8px;
    border: 2px solid rgb(219, 219, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    border: 2px solid yellowgreen;
}
.button-info {

}
.empresa {

}
.button-empresa {

}
.blog {

}
.button-blog {

}

.ingreso {
    border: 2px solid rgb(27, 113, 27);
    margin-left: 53px;
    padding: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sesion {

}
.button-sesion {

}
.registro {

}
.button-registro {

}



.cuerpo {
    border: 2px solid blue;
}
.renglon1 {
    border: 2px solid black;
    margin-top: 13%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: lighter;

}
.renglon2 {
    border: 2px solid red;
    color: rgb(68, 126, 219);
    padding-top: 0px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
}



.imagenes {
    border: 2px solid green;
}