* {
    background-color: white;
}


.top {

}

.header-mobile {
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 770px) {
.header-mobile {
    display: none;
    }
}


.encabezado {
    border: 2px solid red;
    margin: 0;
    display: flex;
}


.home {
    border: 2px solid;
    display: flex;
}

.herram-nav {
    display: none;
}
@media (min-width: 769px) {
.herram-nav {
    margin-left: 40%;
    padding: 8px;
    border: 2px solid rgb(219, 219, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
}


.info {
    border: 2px solid yellowgreen;
    margin: 0 7px;
    
}

.button-info:hover { border-bottom: 3px solid black;
 }
.button-info {
    border: 2px solid red;
    font-size: medium;
    padding-bottom: 0;
}
.empresa {
    border: 2px solid yellowgreen;
    margin: 0 7px;
}
.button-empresa:hover { border-bottom: 3px solid black;
}
.button-empresa {
    border: 2px solid red;
    font-size: medium;
    padding-bottom: 0;
}
.blog {
    border: 2px solid yellowgreen;
    margin: 0 7px;
}
.button-blog:hover  { border-bottom: 3px solid black;
}
.button-blog {
    border: 2px solid red;
    font-size: medium;
    padding-bottom: 0;
}

.ingreso {
    display: none;
}
@media (min-width: 769px) {
.ingreso {
    border: 2px solid rgb(27, 113, 27);
    margin-left: 53px;
    
    display: flex;
    align-items: center;
    }
}

.sesion {
    border: 2px solid yellowgreen;
    margin-right: 20px;
}
.button-sesion:hover { background-color: #ad081b;
    border: #ad081b;
}
.button-sesion {
    border: 2px solid red;
    background-color: #e60023;
    color: white;
    font-weight: bold;
    width: 115px;
    height: 40px;
    border-radius: 25px;
}
.registro {
    border: 2px solid yellowgreen;
    display: flex;
    justify-content: flex-end;
}
.button-registro:hover { background-color: #878787;
    border: #878787;
}
.button-registro {
    border: 2px solid rgb(241, 241, 241);
    background-color: rgb(241, 241, 241);
    font-weight: bold;
    width: 115px;
    height: 40px;
    border-radius: 25px;
}



.cuerpo {
    border: 2px solid blue;
}
.renglon1 {
    border: 2px solid black;
    margin-top: 13%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
}
.renglon2 {
    border: 2px solid red;
    color: #0076d3;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}
.box-text {
    margin: 0;
}



.imagenes {
    border: 2px solid green;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(0deg, #fffdfd 0%, transparent 100%)
}


.img1 {
    border: 1px solid ;
    width: 20%;
    margin-top: -25px;
}
.at1 {
    width: 90%;
    padding-left: 7%;
    padding-right: 3%;
    border-radius: 5%;
}

.img2 {
    border: 1px solid ;
    width: 20%;
    margin-top: 70px;
}
.at2 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding: 0 5%;
}

.img3 {
    border: 1px solid ;
    width: 20%;
    margin-top: 115px;
}
.at3 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding: 0 5%;
}

.img4 {
    border: 1px solid ;
    width: 20%;
    margin-top: 70px;
}
.at4 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding: 0 5%;
}

.img5 {
    border: 1px solid ;
    width: 20%;
    margin-top: -25px;
}
.at5 {
    border: 1px solid red;
    width: 90%;
    border-radius: 5%;
    padding-right: 7%;
    padding-left: 3%;
}







.search {
    display: flex;
    justify-content: center;
}

.cont1 {
    border: 1px solid;
    width: 50%;
    height: 100vh; 
    background-color: #fffd92;
}

.imgs-container {
    border: 2px solid yellowgreen;
    background-color: #fffd92;
    margin-top: 10%;
    margin-bottom: 20%;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont-img1 {
    border: 2px solid red;
    background-color: #fffd92;
    width: 27%;
    
}
.pollo1 {
    border: 1px solid;
    border-radius: 25%;
    width: 100%;
    background-color: #fffd92;
    margin-top: 80%;
    margin-left: 20%;
}



.cont-img2 {
    border: 2px solid red;
    background-color: #fffd92;
    width: 46%;
}
.pollo2 {
    border: 1px solid;
    border-radius: 15%;
    width: 100%;
    margin-top: 20%;
    
}


.cont-img3 {
    border: 2px solid red;
    background-color: #fffd92;
    width: 20%;
}
.pollo3 {
    border: 1px solid;
    border-radius: 25%;
    width: 100%;
    margin-top: 20%;

}
.pollo4 {
    border: 1px solid;
    border-radius: 25%;
    width: 100%;
    margin-top: 140%;
}


.cont2 {
    border: 1px solid;
    width: 50%;
    background-color: #fffd92;
}

.txt-cont {
    border: 2px solid yellowgreen;
    background-color: #fffd92;
    height: 80%;
    margin: 0 10%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-texto {
    border: 2px solid blue;
    background-color: #fffd92;
    width: 70%;
    height: 40%;
    margin: 0 15%;
}
.texto1 {
    border: 2px solid pink;
    background-color: #fffd92;
    text-align: center;
    color: #c31952;
    font-size: x-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.txt1 {
    
}
.texto2 {
    border: 2px solid red;
    background: #fffd92;
    text-align: center;
    color: #c31952;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: lighter;
}
.txt2 {
    background-color: #fffd92;
}

.buttons-search {
    border: 2px solid green;
    background-color: #fffd92;
    height: 15%;
    padding-left: 35%;
}


.button-explor {
    border: 2px solid #c31952;
    background-color: #c31952;
    color: #fffd92;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    border-radius: 25px;
    font-weight: bolder;
}





.save {
    border: 1px solid black;
    height: 100vh;
    display: flex;
}

.save-I {
    border: 2px solid yellowgreen;
    background-color: #dafff6;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-c-save {
    border: 2px solid red;
    background-color: #dafff6;
    height: 50%;
    width: 88%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.txt1-save {
    border: 2px solid blue;
    width: 100%;
    text-align: center;
    color: #006b6c;
    background-color: #dafff6;
    height: 50%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.ideas-s {
    background-color: #dafff6;
    
}
.txt2-save {
    border: 2px solid yellowgreen;
    font-size: x-large;
    color:#006b6c;
    background-color: #dafff6;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}
.favoritos-s {
    background-color: #dafff6;
}
.explore {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    height: 10%;
    background-color: #dafff6;
}
.button-explore-save {
    border: 2px solid #006b6c;
    border-radius: 25px;
    width: 15%;
    background-color: #006b6c;
    color: #dafff6;
    font-weight: bold;
}






.save-D {
    border: 2px solid red;
    width: 50%;
}
.img-c-save {
    border: 2px solid greenyellow;
    margin-top: 15%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hogar {
    border: 1px solid black;
    width: 50%;
    height: 52%;
    border-radius: 70px;
    background-image: url(future-home.png);
    background-position: center;
    background-size:contain;
}

.txt-imgs-s {
    border: 2px solid rgb(245, 105, 245);
    background-color: transparent;
    margin-right: 7%;
    margin-left: 12%;
    margin-top: 15%;
}
.texto-img1 {
    border: 2px solid purple;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.txt-img1-save {
    background-color: transparent;
}
.galeria {
    border: 1px solid rgb(2, 113, 33);
    background-color: transparent;
}
.bedroom1 {
    width: 30%;
    border-radius: 30px;
}
.parlor {
    width: 30%;
    border-radius: 30px;
}
.parlor2 {
    width: 30%;
    border-radius: 30px;
}

.habitación {
    border: 2px solid black;
    background-image: url(habitación.png);
    background-position: center;
    background-size:contain;
    height: 28%;
    width: 26%;
    margin-left: 6%;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.txt-img2 {
    border: 1px solid red;
    background-color: transparent;
    padding: 0 5%;
}
.txt-img2-save {
background-color: transparent;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
}

.decoración {
    border: 2px solid black;
    background-image: url(decoración.png);
    background-position: center;
    background-size:contain;
    width: 20%;
    height: 21%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.txt-img3 {
    border: 1px solid red;
    background-color: transparent;
    padding: 0 5%;
}
.txt-img3-save {
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.baños {
    border: 2px solid black;

}
.img4-save {
    border: 1px solid red;
    border-radius: 20px;
    width: 70px;
}
.drinks {
    border: 2px solid black;
}
.img5-save {
    border: 1px solid red;
    border-radius: 20px;
    width: 70px;
}




.shop {
    border: 1px solid;
    display: flex;
    height: 100vh;

}
.shop-izq {
    border: 2px solid red;
    width: 50%;
}
.imgizq-shop {
    width: 100%;
    height: 100%;
}
.shop-d {
    border: 2px solid blue;
    width: 50%;
}
.imgd-shop {
    width: 100%;
    height: 100%;
}






.bottom {
    border: 1px solid;
    height: 100vh;
}

